$body-bg: Black;
$primary: White;

$custom-colors: (
  "custom-color": #900
);

@import '~bootstrap/scss/bootstrap.scss';

.movieCard {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #6c757d; /* Grey */
  color: white;
}

